[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
numpy = "*"
matplotlib = "*"
opencv-python = "*"
pandas = "*"
scipy = "*"
tensorflow = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"
